@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;600&display=swap');
* {
    font-family: 'Mitr', sans-serif;
}

body {
    margin: 0;
}

#wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* background-color: red; */
}

.header {
    width: 100%;
    height: 80px;
    background-color: #293449;
}

.header img {
    width: 70px;
    margin-left: 60px;
    float: left;
}

.header-link {
    float: right;
    margin-right: 20px;
}

.header-link a {
    float: left;
    font-size: 20px;
    color: #EFEFEF;
    text-decoration: none;
    margin-right: 100px;
    margin-top: 20px;
}

.live-room {
    width: 100%;
    height: 1448px;
    background-color: #C3F1DC;
}

.liveroom {
    margin-left: 280px;
    float: left;
    color: #293449;
}

.liveroom h1 {
    float: left;
}

#search {
    width: 368px;
    height: 44px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    float: left;
    color: #000;
    outline: none;
    margin-left: 440px;
    margin-top: 30px;
}

.fa-search {
    margin: 7px 0 0 -45px;
    color: #293449;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-top: 37px;
}

.fa-search:hover {
    color: #000;
}

.box_live {
    width: 952px;
    height: 492px;
    float: left;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 270px;
    border-color: #293449;
    border-style: solid;
}

.box_live h2 {
    float: left;
    color: #E65F5F;
    margin-left: 30px;
}

.fa-users {
    float: left;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
    color: #818181;
}

.box_live h1 {
    float: left;
    color: #293449;
    margin-left: 290px;
}

.fa-circle-play {
    float: left;
    font-size: 90px;
    color: #293449;
    margin-top: 200px;
    margin-left: -110px;
}

.fa-circle {
    float: left;
    color: #E65F5F;
    font-size: 50px;
    margin-left: 900px;
    margin-top: -120px;
}

.box_live2 {
    width: 468px;
    height: 257px;
    float: left;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 270px;
}

.box_live2 h2 {
    float: left;
    color: #E65F5F;
    margin-left: 30px;
}

.box_live2 h1 {
    float: left;
    color: #293449;
    margin-left: 70px;
    margin-top: 10px;
}

#fcp {
    float: left;
    font-size: 50px;
    color: #293449;
    margin-top: 120px;
    margin-left: -110px;
}

#fc {
    float: left;
    color: #E65F5F;
    font-size: 40px;
    margin-left: 430px;
    margin-top: -105px;
}

.box_live3 {
    width: 468px;
    height: 257px;
    float: left;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 15px;
}

.box_live3 h2 {
    float: left;
    color: #E65F5F;
    margin-left: 30px;
}

.box_live3 h1 {
    float: left;
    color: #293449;
    margin-left: 50px;
    margin-top: 10px;
}

#fcp2 {
    float: left;
    font-size: 50px;
    color: #293449;
    margin-top: 120px;
    margin-left: -100px;
}

#fc2 {
    float: left;
    color: #E65F5F;
    font-size: 40px;
    margin-left: 430px;
    margin-top: -105px;
}

.box_live4 {
    width: 290px;
    height: 290px;
    float: left;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 270px;
}

#fcp3 {
    float: left;
    font-size: 50px;
    color: #293449;
    margin-top: 120px;
    margin-left: 120px;
}

#fc3 {
    float: left;
    color: #E65F5F;
    font-size: 40px;
    margin-left: 75px;
    margin-top: -25px;
}

.box_live5 {
    width: 290px;
    height: 290px;
    float: left;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.box_live6 {
    width: 290px;
    height: 290px;
    float: left;
    background-color: #293449;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.box_live6:hover {
    transition: .3s ease-in-out;
    opacity: 70%;
    cursor: pointer;
}

.box_live6 h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
}

#pppp {
    float: left;
}

#pppp h1 {
    font-size: 30px;
    color: #293449;
    margin-top: 360px;
    margin-left: -860px;
}

#pppp h3 {
    font-size: 30px;
    color: #293449;
    margin-top: -70px;
    margin-left: -540px;
}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    float: left;
    background-color: #C3F1DC;
}